conda activate backend_app_gestion_citas 
# instala dependencias (usar pip dentro del entorno conda es lo más simple)
pip install fastapi "uvicorn[standard]" sqlalchemy pymysql python-dotenv pydantic-settings email-validator

# seguridad JWT (actualizado para compatibilidad):
pip install "python-jose[cryptography]" "passlib[bcrypt]" python-multipart "bcrypt>=4.0.0"

# opcional (migraciones, CORS):
pip install alembic "fastapi[all]"

# para testing:
pip install requests